<html>
  <head>
    <title></title>
  </head>
  <body>
    <div style="font-size: 16px">
      <div>Hi {{firstName}}!</div>
      <div><br /></div>
      <div>Thank you for purchasing {{productName}}!</div>
      <div><br /></div>
      <div>
        <span>I try to keep all my content straight to the point, so it's a
          short but action packed read.&nbsp;</span>
      </div>
      <div>
        <span>When you're done, I'd love to discuss the content with you and
          answer any questions you may have.</span>
      </div>
      <div><br /></div>
      <div>
        <span>If you haven't yet downloaded the playbook, you can find it here.
          I've also included a EPUB version so you can take it on your reading
          devices.</span><br />
      </div>
      <div style="margin: 8px 0">{{productUrl}}</div>
      <div>
        <br />
        Have a great one!
      </div>
      <div>Paul</div>
    </div>
  </body>
</html>
